extends ../layout

block content

  h2(style="margin-bottom: 5px;") #{post.title} #[br]
  p(style="margin-bottom: 15px;")
    em #{post.caption}
  p !{post.body}
  p(style="margin-top: 15px;") Posted on: #{post.date}
  if post.edited
    p(style="margin-top: 15px;") Last edited on: #{post.edited}
